/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Source Serif Pro', serif;
*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --bg: yellow;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

#main-nav {
    background-color: hsl(0, 0%, 0%, 65%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    /* border: 1px solid red; */
}

#main-nav a {
    text-decoration: none;
    color: white;
}

#main-nav li {
    padding: 1rem;
    text-align: center;
}

#main-nav li:hover {
    /* background-color: hsl(51, 100%, 50%); */
    color: hsl(223, 89%, 54%);
}

#hero-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
    /* background-image: url("https://i.ibb.co/SVK6S5M/wayne.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    width: 100%;
}

#hero-text {
    text-align: center;
    color: white;
    font-size: 4.3rem;
    /* background-color: black; */
    user-select: none;
}

#hero-text h1 {
    font-weight: 400;
}

#hero-text p {
    /* padding-top: 12rem; */
    /* font-family: 'Source Serif Pro', serif; */
    padding: 1rem;
}

.hero-image {
    clip-path: ellipse(50% 40% at 50% 50%);
    max-width: 100%;
    width: 250px;
    /* margin-top: 0.5rem; */
}

.surprise-text {
    font-weight: 700;
}

.boujee-text {
    font-family: 'Open Sans', sans-serif;
    --bg-size: 400%;
    --color-one: hsl(15 90% 55%);
    --color-two: hsl(40 95% 55%);
    font-size: clamp(3rem, 20vmin, 8rem);
    background: linear-gradient(90deg,
            var(--color-one),
            var(--color-two),
            var(--color-one)) 0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: move-bg 8s infinite linear;
}

.confetti {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    /* width: 600px; */
    /* height: 600px; */
    /* overflow: hidden; */
    opacity: 0.6;
    z-index: 10;
}

.confetti .square {
    width: 1rem;
    height: 1rem;
    background-color: var(--bg);
    transform: rotate(-140deg);
}

.confetti .rectangle {
    width: 1rem;
    height: 0.5rem;
    background-color: var(--bg);
}

.confetti .hexagram {
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 1rem solid var(--bg);
    position: relative;
}

.confetti .hexagram:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 1rem solid var(--bg);
    position: absolute;
    top: 0.33rem;
    left: -0.5rem;
}

.confetti .pentagram {
    width: 0rem;
    height: 0rem;
    display: block;
    margin: 0.5rem 0;
    border-right: 1rem solid transparent;
    border-bottom: 0.7rem solid var(--bg);
    border-left: 1rem solid transparent;
    transform: rotate(35deg);
    position: relative;
}

.confetti .pentagram:before {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-bottom: 0.8rem solid var(--bg);
    border-left: 0.3rem solid transparent;
    border-right: 0.3rem solid transparent;
    transform: rotate(-35deg);
    position: absolute;
    top: -0.45rem;
    left: -0.65rem;
}

.confetti .pentagram:after {
    content: "";
    width: 0rem;
    height: 0rem;
    display: block;
    border-right: 1rem solid transparent;
    border-bottom: 0.7rem solid var(--bg);
    border-left: 1rem solid transparent;
    transform: rotate(-70deg);
    position: absolute;
    top: 0.03rem;
    left: -1.05rem;
}

.confetti .dodecagram {
    background: var(--bg);
    width: 0.8rem;
    height: 0.8rem;
    position: relative;
}

.confetti .dodecagram:before {
    content: "";
    height: 0.8rem;
    width: 0.8rem;
    background: var(--bg);
    transform: rotate(30deg);
    position: absolute;
    top: 0;
    left: 0;
}

.confetti .dodecagram:after {
    content: "";
    height: 0.8rem;
    width: 0.8rem;
    background: var(--bg);
    transform: rotate(60deg);
    position: absolute;
    top: 0;
    left: 0;
}

.confetti .wavy-line {
    position: relative;
}

.confetti .wavy-line::after,
.confetti .wavy-line::before {
    content: "";
    height: 1rem;
    width: 8rem;
    background-size: 2rem 1rem;
    position: absolute;
    left: -9rem;
    transform: rotate(90deg);
}

.confetti .wavy-line::before {
    background-image: linear-gradient(45deg,
            transparent,
            transparent 50%,
            var(--bg) 50%,
            transparent 60%);
    top: 1rem;
}

.confetti .wavy-line::after {
    background-image: linear-gradient(-45deg,
            transparent,
            transparent 50%,
            var(--bg) 50%,
            transparent 60%);
}

.confetti i {
    width: 3rem;
    height: 3rem;
    margin: 0 0.2rem;
    animation-name: confetti;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: calc(130s / var(--speed));
}

.confetti i:nth-child(even) {
    transform: rotate(90deg);
}


#when-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
    /* background-color: rgb(8, 8, 8); */
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    border: 2rem solid black;
    width: 100%;
}

.line {
    border-bottom: 1px solid white;
}

#when-text {
    /* padding-top: 8rem; */
    font-size: 4rem;
    font-weight: 500;
}

.date {
    font-size: 6rem;
    font-weight: 700;
}

#where-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
    /* background-color: rgb(8, 8, 8); */
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    width: 100%;
}

#where-text {
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    font-weight: 400;
}

.location {
    font-weight: 600;
    padding-bottom: 4rem;
}

#where-text>a {
    padding: 0.5rem;
    font-size: 3.4rem;
    color: white;
    text-decoration: none;
}

.where-info {
    padding: 6rem 2rem;
    padding-bottom: 0;
    font-size: 2.6rem;
    color: rgb(237, 237, 237);
}

.one:hover {
    color: green;
    cursor: pointer;
}

.two:hover {
    color: blue;
    cursor: pointer;
}

.three:hover {
    color: orange;
    cursor: pointer;
}

#remind-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
    background-color: rgb(4, 4, 4);
    border: 3rem solid black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    width: 100%;
}

#remind-text {
    font-size: 2.6rem;
    padding: 1rem;
}

#mindful {
    font-size: 3.1rem;
    font-weight: 700;
}

#dont {
    font-size: 3.1rem;
}

#remind-list {
    padding: 1rem;
    list-style-type: none;
    font-size: 2.6rem;
    /* margin-top: -40px; */
}

#remind-list li {
    padding: 1rem;
}

#rsvp-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 40vh;
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    padding: 2rem;
    width: 100%;
}

.pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to left,
            rgb(0, 82, 21) 0%,
            rgb(5, 134, 52) 8%,
            rgb(0, 163, 62) 92%,
            rgb(0, 82, 36) 100%);
}

.front {
    display: block;
    position: relative;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 2.4rem;
    color: white;
    background: rgb(4, 158, 11);
    will-change: transform;
    transform: translateY(-4px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.pushable:hover {
    filter: brightness(110%);
}

.pushable:hover .front {
    transform: translateY(-6px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.pushable:hover .shadow {
    transform: translateY(4px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
    outline: none;
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 40vh;
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
    padding-top: 2rem;
    width: 100%;
}

#contact > a {
    color: white;
    text-decoration: none;
}

#contact > a:hover {
    color: rgb(242, 242, 242);
    font-weight: 500;
    text-decoration: underline wavy;
    text-decoration-color: blue;
}

#number {
    padding-top: 4px;
}

#copywrite {
    font-size: 1.8rem;
    color: rgb(85, 85, 85);
    padding: 2rem;
}

#copywrite a {
    color: rgb(85, 85, 85);
    text-decoration: none;
}

#copywrite a:hover {
    color: blue;
    font-weight: 500;
}

@keyframes confetti {
    0% {
        transform: translateY(-100vh);
    }

    100% {
        transform: translateY(100vh);
    }
}

@keyframes move-bg {
    to {
        background-position: var(--bg-size) 0;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    main {
        font-size: 1.4rem;
    }
    #hero-section {
        padding: 0;
        margin: 0;
        justify-content: center;
    }

    #hero-text {
        text-align: center;
        font-size: 2.4rem;
        padding-top: 6rem;
    }

    #when-text {
        font-size: 2.4rem;
    }

    #where-text {
        font-size: 3.4rem;
    }

    .one,
    .two,
    .three {
        font-size: 2.4rem;
    }

    #remind-text {
        font-size: 1.8rem;
    }
    #remind-list {
        font-size: 1.8rem;
    }

    #mindful {
        font-size: 2.4rem;
        padding-bottom: 1rem;
    }

    #dont {
        font-size: 2.1rem;
        padding-bottom: 1rem;
    }

    #rsvp-section {
        font-size: 2.4rem;
    }

    #footer {
        font-size: 2.4rem;
    }

    #contact {
        padding: 2rem;
    }

    #copywrite {
        font-size: 1.4rem;
    }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1000px)  {
    #hero-section {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #mindful {
        font-size: 2.4rem;
        padding-bottom: 2rem;
    }

    #dont {
        font-size: 2.1rem;
        padding-bottom: 1rem;
    }

}

@media screen and (min-device-width: 1000px) and (max-device-width: 1600px)  {
    #hero-section {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #hero-text {
        text-align: center;
        margin-top: 6rem;
        padding: 1rem;
    }

    #remind-section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 4rem;
    }
}