/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Source Serif Pro', serif;
*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

#main-nav {
    background-color: hsl(0, 0%, 0%, 65%);
    display: flex;
    justify-content: center;
    padding: 1rem;
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
}

#main-nav a {
    text-decoration: none;
    color: white;
}

#main-nav li {
    padding: 1rem;
    text-align: center;
}

#main-nav li:hover {
    /* background-color: hsl(51, 100%, 50%); */
    color: hsl(223, 89%, 54%);
}

#hero-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsRadialGradient1003)'%3e%3c/rect%3e%3cpath d='M0 0L486.02 0L0 42.09z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M0 42.09L486.02 0L817.8 0L0 198.07z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M0 198.07L817.8 0L971.9499999999999 0L0 393.36z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M0 393.36L971.9499999999999 0L1262.1499999999999 0L0 492.78000000000003z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M1440 560L881.45 560L1440 369.08000000000004z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M1440 369.08000000000004L881.45 560L804.27 560L1440 222.87000000000003z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M1440 222.87L804.27 560L710.77 560L1440 115.16000000000001z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M1440 115.16000000000003L710.77 560L319.65 560L1440 104.30000000000003z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='50%25' cy='50%25' r='772.53' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient1003'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.87'%3e%3c/stop%3e%3cstop stop-color='rgba(31%2c 31%2c 31%2c 1)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}

#hero-text {
    text-align: center;
    color: white;
    font-size: 4.3rem;
    /* background-color: black; */
}

#hero-text h1 {
    font-weight: 400;
}

#hero-text p {
    padding-top: 12rem;
    /* font-family: 'Source Serif Pro', serif; */
}

.surprise-text {
    font-weight: 700;
}

.boujee-text {
    font-family: 'Open Sans', sans-serif;
    --bg-size: 400%;
    --color-one: hsl(15 90% 55%);
    --color-two: hsl(40 95% 55%);
    font-size: clamp(3rem, 25vmin, 8rem);
    background: linear-gradient(90deg,
            var(--color-one),
            var(--color-two),
            var(--color-one)) 0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: move-bg 8s infinite linear;
}

#when-section {
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
    min-height: 100vh;

}


@keyframes move-bg {
    to {
        background-position: var(--bg-size) 0;
    }
}